*{
    font-family: 'Open Sans' !important;
}

.navbar {
    border-width: 0;
    border-radius: 0px;
}

.displayTime{
    float: right;
    margin-right: 12px;
    font-style: italic;
    font-size: 14px;
}
.dash-num{
    color: green;
    font-size: 60px;
    font-weight: lighter;
    vertical-align: middle;
}
.one a {
    font-size: 13px;
}
.home,.homeisp,.homeiss{ text-align:center; }
.links-add-new a {
    margin: 12px;
}

.homeisp a { font-size: 11px; text-align:center; }
.homeiss a { font-size: 12px; text-align:center;}
.home .btn,.homeisp .btn,.homeiss .btn{ display:block !important; }
 
